html{
    box-sizing: inherit;
    height: 100%;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}
:root{
    --marronOscuro: #48292A;
    --marron: #916B45;
    --marronClaro: #E9923E;
    --negro: #1E1E1E;
    --beige: #F3DFC0;
    --blanco: #FFFF;
    --fuentePrincipal:'Roboto Condensed', sans-serif;
}




.header{
    width: 100%;
    height: 100%;
    position: relative;

   
}

.navegacion{
    visibility: hidden;
}

.visible{
    visibility: visible;
}
.navegacion a{
text-decoration: none;
margin: .2rem 0;
font-size: 1.1rem;
color: var(--blanco);
transition: color .5s ease-in-out;
display: block;
text-align: center;

}
.navegacion a:hover{
    color: var(--marronClaro);
}

.container-header{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.772);
    width: 0%;
    height: 100%;
    z-index: 100;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width .5s ease-in-out;

    

}
.container-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: .2rem;
}

.container-logo h1{
    color: var(--marronClaro);
}
.container-logo span{
    color: var(--beige);
}
.container-img-logo{
    line-height: 5rem;
    width: 50px;
}

.container-logo-text{
    margin-top: 1rem;
}




/*HERO*/
.hero{
    height: 100%;
}

.container-hero{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
    height: 100%;
}

.hero-text{
    opacity: 0;
    color: white;
    width: 100%;
    text-align: center;
}


.hero-text h2{
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
}
.hero-text p{
 font-size: 1rem;
}
.hero-text span{
    color: #E9923E;
    margin-right: .4rem;

}
.hero-img{

width: 250px;
height: 250px;
margin: 0 auto;
filter: drop-shadow(1px 1px 3px var(--beige)) brightness(.9);
animation: rotar 25s linear infinite, aparecer 3s linear;
}

.hero-img img{
    object-fit: cover;

}

@media(min-width:790px){
    .hero-text p{
        font-size: 1.3rem;
       }
    .hero-text h2{
     
     
        font-size: 6rem;
        margin: 0;
    }
    .hero-img{
        width: 350px;
        height: 350px;
    }
}

@media(min-width:1200px){
    .container-hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .hero-text h2{
     
     
        font-size: 8rem;
        margin: 0;
    }

    .hero-text{
       text-align: left;
        width: 600px;
    }


    .hero-img{
        width: 450px;
        height: 450px;
        margin: 0;
     
        }
}

img{
    display: block;
    width: 100%;
    height: 100%;
}
video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active{
    color: var(--marronClaro) !important;
}
.container-video{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    filter: brightness(.5);
}







/*SPIN*/


.spin{
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 100000;
}
.container-spin{
    border: 3px solid var(--marron);
    height: 50px;
    width: 50px;
    border-radius: 70px;
    border-left: none;
    animation: rotar 2s linear infinite;
}

.remover{
    display: none;
}

.navVisible{
    display: block;
}


/*MENU*/
.container-menu{

    max-width: 1800px;
    width: 100%;

  
    margin: 0 auto;

}
.menu{
    
    padding: 1rem 0;
    z-index: 10000;
    position: absolute;
    width: 32px;
}
.menu:hover{
    cursor: pointer;
}

.width-100{
    width: 100% !important;
}

/*NOSOTROS*/

.nosotros{
    padding: 9rem 2rem;
}

.container-nosotros{
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}



.nosotros-text h2{
    text-align: center;
    color: var(--negro);
    font-size: 3rem;
    border-left: 4px solid var(--marronClaro);
    padding: 0;
    text-transform: uppercase;
    margin: 0;
}
.nosotros-text p{
    text-align: center;
    font-size: 1.1rem;
}

.nosotros-img{
   filter: drop-shadow(5px 5px 5px rgba(186,186,186,1));
   width: auto;
}
.nosotros-img img{
    border-radius: 70px;
}

@media(min-width:690px){

    .nosotros-text h2{
    
        font-size: 5rem;
        padding: 0 1rem;
       
      
    }

    .nosotros-text p{
        text-align: center;
        font-size: 1.4rem;
    }
    
    .nosotros-img{
        filter: drop-shadow(5px 5px 5px rgba(186,186,186,1));
        width: 700px;
     }
}

@media(min-width:1590px){
    .container-nosotros{
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        column-gap: 3rem;
    }
    .nosotros-img{
        width: auto;
     }

     .nosotros-text h2{
        text-align: left;
        font-size: 6rem;
        padding: 0 1rem;
   
    }
    .nosotros-text p{
        text-align: left;

    }

}

/*FOOTER*/

.footer{
    padding: 1rem 0;
    background-color: var(--negro);
    color: white;
    text-align: center;
}

.aparecer{
    animation: aparecer 1s linear;
    opacity: 1;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rotar {
    0%{
    transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/*JOAQUIN*/
/* SECTION__2 */

/* estilizando el div bebidas__container */



.bebidas__title h2{
    margin: 0;
    color:#222;
    font-size: 8vh;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 5px rgba(240,240,240,1));
   
    
}

/* estilizando el div line__color */



/* estilizando el div coffe__container */
.coffe__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

/* estilizando el div tarjet__container */
.tarjet__container{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
}


/* estilizando el div coffee__background */
.tarjet__background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    background-color: var(--negro);
    transition: color, 200ms ease;
}

/* estilizando el hover del div coffee__background */
.tarjet__background:hover{
    border: 5px solid var(--marronClaro);
}

.tarjet__background img{
    width: 100px;
    transition: transform, 200ms ease;
}

.tarjet__background img:hover{
    transform: scale(1.1);
    cursor: pointer;
}   


.tarjet_background .coffe_img{
    width: 140px;
}

/* estilizando el div coffe__title */
.coffe__title{
    text-align: center;
    width: 220px;
    color: #222;
    filter: drop-shadow(1px 2px 5px rgba(240,240,240,1));
}

.tarjet__background img{
object-fit: cover;
}


/* SHAKES */

/* estilizando las imgs */





#productos{
    padding: 2rem 0;
    background-image: url('Imagenes/productos.jpg');
    background-position: center;
    background-repeat: no-repeat;
background-attachment: fixed;
}