

html{
    box-sizing: inherit;
    height: 100%;
}
*{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--fuentePrincipal);
}
:root{
    --marronOscuro: #48292A;
    --marron: #916B45;
    --marronClaro: #E9923E;
    --negro: #1E1E1E;
    --beige: #F3DFC0;
    --blanco: #FFFF;
    --fuentePrincipal:'Roboto Condensed', sans-serif;
}

/*NavBar*/

.navBar{
    background-color: var(--negro);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blanco);

}

.ham{
    display: flex;
    cursor: pointer;
}

.menu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: var(--negro);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.menu.visible{
    opacity: 1;
    visibility: visible;
}

.menu a{
    margin: 1rem 0;
    color: var(--blanco);
    font-size: 20px;
}

.menu picture{
    margin: 1rem 0;
}

@media (min-width:768px){

    .navBar{
        background-color: var(--negro);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--blanco);
    
    }
    .ham{
        display: none;
    }
    
    .menu a{
        margin: 0 20px;
        color: var(--blanco);
        font-size: 20px;
    }

    .menu{
        opacity: 1;
        visibility: visible;
        position:relative;
        display: flex;
        flex-direction: row;
        background-color:transparent;
        padding: 2rem;
        box-shadow: none;
    }
    .menu.visible{
        display: none;
    }
}

/*MAIN DESCRIPTION*/
.desc{
    padding: 3.6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img{
    max-width: 800px;
}

.brownie{
    width: 100%;
    border-radius: 50px;
    /*outline: var(--beige) solid 5px;*/
    box-shadow: 5px 5px 10px rgba(186,186,186,1);
}

.descText{
    color:var(--negro);
    width: fit-content;
    margin: 0 3rem;
    text-align: center;
    
}

.descText h1{
    font-size: 3rem;
}

.descText p{
    font-size: 20px;
    text-align: justify;
    text-align-last:justify;
}

@media (min-width:1445px){
    .img{
        max-width:max-content;
    }
    .desc{
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .descText{
        text-align: left;
    }

}



/*FOOTER*/
.footer{
    padding: 1rem 0;
    background-color: var(--negro);
    color: white;
    text-align: center;
}

.footer .container-logo{
    margin: 0 auto;
}

.container-logo h1{
    color: var(--marronClaro);
    font-size: 2rem;
}
.container-logo span{
    color: var(--beige);
}